/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #FFFFFF;
  --grey: #5e5e5e;

  --red-highlight: #fc4e0b;
  --yellow: #ffd113;
  
  --lighter-purple: #4e4793;
  --light-purple: #2e265a;
  --purple: #1c163a;
  --dark-blue: #181335;
  --very-dark-blue: #100921;
  --color-background: var(--dark-blue);
  --color-text: var(--white)
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--dark-blue);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noSelect {
  -webkit-user-select: none;
  -khtml-user-select: none;
    -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}