@import "./base.css";

#app {
  width: 100vw;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 0rem 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  place-items: center;
}

.flex {
  display: flex;
}

.flex-center {
  align-content: center;
  justify-content: center;
  align-items: center;
}

.fill-screen-width {
  width: 100vw;
}

.fill-screen-height {
  height: 100vh;
}

.text-white {
  color: white;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.containNoRepeat {
  background-size: contain;
  background-repeat: no-repeat;
}

.tuxitLogo {
  background-image: url(/img/tuxit_logo.png);
}

.spinner {
  background-image: url(/img/spinner.svg);
}

.starkNetLogo {
  background-image: url(/img/starknet_logo.png);
}

.noSelect{
  -ms-user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
   user-select:none;
}

.title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 800;
  text-align: center;
}

.subtitle {
  font-size: 18px;
  font-weight: 800;
  text-align: center;
}

a {
  margin: 5px;
  text-align: center;
  color: var(--white);
  text-decoration: none;
}

a:hover { color: var(--red-highlight); }
a:visited { text-decoration: none; color: var(--white); }

.button {
  border: 3px solid white;
  border-radius: 100px;
  cursor: pointer;
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: var(--red-highlight);
}

.s-card {
  border: 3px solid white;
  border-radius: 25px !important;
  background-color: var(--dark-blue) !important;
}

.s-list-item {
  border: unset !important;
  border-radius: 10px !important;
  background-color: var(--very-dark-blue) !important;
}

.s-list-item.link:before {
  border-radius: 10px !important;
  background-color: white !important;
}

.red {
  color: var(--red-highlight);
}

@media only screen and (max-width: 549px) {
  .title {
    font-size: 28px;
    line-height: 28px;
  }
}